$accent-color : #11a683;
$accent-hover-color : #15c39a;
$text-color : #0E101A;
$blue-text-color : rgb(74, 110, 224);
$grey-text-color : #6D758D;
$text-color-disabled : #c6cbde;
$disabled-color : #f0f2fc;
$white: #fff;
$progress-bar-grey :#e7e9f5;
$blue-bg : #3659b5;
$grey-bg: #f9faff;
$footer_text_color: #1f243c;
$copyright_color : #9fa6bf;